<% include ../partials/header %>

<form action="/login" method="POST" class="form">
    <h1 class="form-title">Log In</h1>
    <div>
        <p class="form-label">Username</p>
        <input type="text" name="username" class="form-input">
    </div>
    <div>
        <p class="form-label">Password</p>
        <input type="password" name="password" class="form-input">
    </div>
    <div>
        <input value="Login" type="submit" class="form-submit">
    </div>
    <a href="/register" class="form-subtitle">Don't Have An Account? Sign Up</a>
</form>

<% include ../partials/footer %>
