<% include ../partials/header %>

<h1 class="text-center top-buffer">Welcome !</h1>
<p class="text-center">The perfect site to check NBA standings, view game schedules, and discuss the league!</p>
<img src="<%= gifUrl %>" alt="basketball gif" class="gif-img">

<% include ../partials/footer %>
